*.metadata
*.snap
*.index
*.version
*.markers
*.settings
*.mk
*.ccxml
*.out
*.map
*.launch
*.xml
*.pp
*.obj
*.cmd
*.opt
*.ccsproject
*.project
*.cproject
*.libs
*.lib
*.exclude
*.cfg
MSP430_sample_projects/*
